---
import Navbar from '../components/Navbar.astro'
import Layout from '../layouts/Layout.astro'
const name = 'Astro'
---

<Layout title='About prop'>
	<h1>About</h1>
	My About page {name}
	<footer>
		{new Date().getFullYear()}
	</footer>
	<script>
		const currentYear = new Date().toLocaleTimeString()
		const footer = document.querySelector('footer') as HTMLElement
		footer.innerText = `© ${currentYear} `
	</script>
</Layout>
